<div class="jumbotron jumbotron-fluid">
  <div class="container bg-light p-5">
    <h1 class="display-4"><%= contact.name %></h1>
    <p class="lead"><strong>Email: </strong><%= contact.email %></p>
    <p class="lead"><strong>Phone number: </strong><%= contact.phone %></p>
    <p class="lead"><strong>Social: </strong><%= link_to contact.socialLink, contact.socialLink, target:"_blank" %></p>
  </div>
</div>

